.icon-container {
  position: relative;
}

.ellipse-shadow {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.icon svg {
  display: block;
  margin: auto;
}
